
@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<form method="POST" enctype="multipart/form-data">
    <h2 class="mb-2 text-gray-800">Create a new account</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Input.FirstName" class="text-gray-800">First Name</label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="new-password" aria-required="true" placeholder="First Name">
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Input.LastName" class="text-gray-800">Last Name</label>
                <input asp-for="Input.LastName" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Last Name">
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email" class="text-gray-800">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="text-gray-800">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="text-gray-800">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Career" class="text-gray-800">Career</label>
                <input asp-for="Input.Career" class="form-control" autocomplete="username" aria-required="true" placeholder="Career">
                <span asp-validation-for="Input.Career" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Salary" class="text-gray-800">Salary</label>
                <input asp-for="Input.Salary" class="form-control" autocomplete="username" aria-required="true" placeholder="Career">
                <span asp-validation-for="Input.Salary" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Input.PhoneNumber" class="text-gray-800"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="username" aria-required="true" placeholder="Phone Number">
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City" class="text-gray-800">City</label>
                <input asp-for="Input.City" class="form-control" autocomplete="username" aria-required="true" placeholder="City">
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.State" class="text-gray-800">State</label>
                <input asp-for="Input.State" class="form-control" autocomplete="username" aria-required="true" placeholder="State">
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.StreetAddress" class="text-gray-800">Street Address</label>
                <input asp-for="Input.StreetAddress" class="form-control" autocomplete="username" aria-required="true" placeholder="Street Address">
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DateOfBirth" class="text-gray-800"></label>
                <input asp-for="Input.DateOfBirth" class="form-control" autocomplete="username" aria-required="true" placeholder="Career">
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-check-label text-gray-800" for="english">Choose Role</label>
                <select class="form-control" aria-required="true" asp-for="Input.Role" asp-items="@Model.Input.RoleList"></select>
            </div>
            
            <!-- Add other form fields here, e.g., Phone Number, Street Address, City, State, Postal Code, etc. -->
        </div>
        <div class="col-lg-6">
            <div class="profile-image">
                <img src="@Model.Input.ImageUrl" alt="" id="profile-pic">
            </div>
     
            <div class="form-group form-upload">
                <label for="fileInput" class="btn-upload">
                    <i class="fas fa-camera"></i> Upload Image
                    <input id="fileInput" asp-for="Input.ImageUrl" name="file" type="file" style="display: none;">
                </label>
            </div>
            
            <div class="row mx-5">
                <div class="form-group mr-lg-5">
                    <label class="text-gray-800">Gender:</label><br>
                    <div class="form-check">
                        <input class="form-check-input text-gray-800" type="radio" asp-for="Input.Gender" value="Male">
                        <label class="form-check-label text-gray-800">Male</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input text-gray-800" type="radio" asp-for="Input.Gender" value="Female">
                        <label class="form-check-label text-gray-800">Female</label>
                    </div>
                </div>
                @*<div class="form-group mr-lg-5">
                   <label class="text-gray-800">Languages:</label><br>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="Input.Languages" value="Arabic">
                          <label class="form-check-label text-gray-800">Arabic</label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="Input.Languages" value="English">
                          <label class="form-check-label text-gray-800">English</label>
                      </div>
                    <!-- Add more checkboxes as needed -->
                </div>*@
            </div>
            <div class="row mx-5">
                @*<div class="form-group mr-lg-5">
                    <label class="text-gray-800">Languages:</label><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" $1$asp-for="Input.Languages"#1# value="Arabic">
                        <label class="form-check-label text-gray-800" for="arabic">Arabic</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" $1$asp-for="Input.Languages"#1# id>
                        <label class="form-check-label text-gray-800" for="english">English</label>
                    </div>
                    <!-- Add more checkboxes as needed -->
                </div>*@
               <div class="form-group mr-lg-5">
                   <label class="text-gray-800">Languages:</label><br>
                   @foreach(var checkbox in Model.Input.LanguagesOptions)
                   {
                       <div class="form-check">
                           <input class="form-check-input"
                                  type="checkbox" 
                                  value="@checkbox.Value" 
                                  name="languages" 
                                  id="lan_@checkbox.Value"
                                  @(checkbox.isChecked ? "checked" : "")>
                           <label class="form-check-label text-gray-800" for="lan_@checkbox.Value">@checkbox.Value</label>
                       </div>
                   }
                    <!-- Add more checkboxes as needed -->
                </div>
            </div>
        </div>
        <div class="row">
            <a asp-page="/Identity/Account/Login" class="btn btn-dark ml-2 mt-5">
                <i class="fas fa-arrow-left"></i> Back
            </a>
            <button type="submit" class="btn btn-success ml-4 mt-5">
                <i class="fas fa-solid fa-check"></i> Register
            </button>
        </div>
    </div>
</form>

<style>
.profile-image {
    width: 250px;
    height: 250px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
    position: relative;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-image:hover {
    transform: scale(1.05);
}

 /* Remove display: none from input[type="file"] */
 input[type="file"] {
     position: absolute;
     cursor: pointer;
     padding-left: 5px;
 }
 
 /* Adjust styling of the upload button */
 .btn-upload {
     display: inline-block;
     padding: 10px 20px;
     background-color: #007bff;
     color: #fff;
     text-align: center;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }
 
 .btn-upload:hover {
     background-color: #0056b3;
 }
 
 .btn-upload i {
     margin-right: 5px;
 }

  .form-upload, 
  .row {
    display: flex;
    justify-content: space-around;
    font-size: large;
  } 
 .form-check-input {
   width: 18px;
   height: 18px;
 }

 .form-check-label {
   margin-left: 8px;
 }
   </style>

@section Scripts{
    @{
        <script>
            document.getElementById('fileInput').addEventListener('change', function(event) {
                const file = event.target.files[0];
                const reader = new FileReader();
                const img = document.getElementById('profile-pic');

                reader.onload = function(e) {
                    img.src = e.target.result;
                }

                reader.readAsDataURL(file);
            });
        </script>
        <partial name="_ValidationScriptsPartial" />
    }
}


@*@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <h2>Create a new account.</h2>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-group">
            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Input.FirstName">First Name</label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="new-password" aria-required="true" placeholder="First Name" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Input.LastName">Last Name</label>
                <input asp-for="Input.LastName" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Last Name" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password">Password</label>
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <!-- Add additional fields here, e.g., Phone Number, Street Address, City, State, Postal Code, etc. -->
        <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
    </form>
    $1$<div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>#1#
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

$1$
@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_AuthLayout";
}

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
                        </div>
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="user">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Input.FirstName" class="form-control form-control-user" aria-required="true" placeholder="First Name" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="Input.LastName" class="form-control form-control-user" aria-required="true" placeholder="Last Name" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Email" class="form-control form-control-user" autocomplete="username" aria-required="true" placeholder="Email Address" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Input.Password" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Repeat Password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                                <div class="form-group">
                                    <select class="form-control" aria-required="true" asp-for="Input.Role" asp-items="@Model.Input.RoleList">
                                       
                                    </select>
                                </div>
                            <button id="registerSubmit" type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
                            <hr />
                                 <a href="#" class="btn btn-google btn-user btn-block">
                                     <i class="fab fa-google fa-fw"></i> Register with Google
                                 </a>
                                <a href="#" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            @#2#if ((Model.ExternalLogins?.Count ?? 0) > 0)
                            {#2#
                                $2$<div class="text-center">
                                    <p>Use another service to register:</p>#2#
                                    $2$<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            $3$<button type="submit" class="btn btn-user btn-block" name="provider" value="@provider.Name">
                                                @if (provider.DisplayName == "Google")
                                                {
                                                    <i class="fab fa-google fa-fw"></i> @:Register with Google
                                                }
                                                else if (provider.DisplayName == "Facebook")
                                                {
                                                    <i class="fab fa-facebook-f fa-fw"></i> @:Register with Facebook
                                                }
                                                else
                                                {
                                                    @provider.DisplayName
                                                }
                                            </button>#3#
                                        }
                                    </form>#2#
                                $2$</div>#2#
                            $2$}#2#
                            $2$else
                            {
                                <div class="text-center">
                                    <p>There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article about setting up this ASP.NET application to support logging in via external services</a>.</p>
                                </div>
                            }#2#
                            <hr />
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" asp-page="./Login">Already have an account? Login!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#1#

@#1#section Scripts {
    <partial name="_ValidationScriptsPartial" />
}#1#*@